.theme-purple .wizard .steps .current a,
.theme-purple .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-purple .fc .fc-toolbar,
.theme-purple .blog-page .single-blog-post .img-holder .date-box,
.theme-purple .menu-app li ul li a:hover,
.theme-purple .card .header .header-dropdown ul li a:hover {
	background: linear-gradient(45deg, #8f78db, #ab9ae5);
}
.theme-purple .navbar-brand {
	color: #fff;
}
.theme-purple .navbar-brand:hover {
	color: #fff;
}
.theme-purple .navbar-brand:active {
	color: #fff;
}
.theme-purple .navbar-brand:focus {
	color: #fff;
}
.theme-purple .nav > li > a {
	color: #fff;
}
.theme-purple .nav > li > a:hover {
	background: transparent;
}
.theme-purple .nav > li > a:focus {
	background: transparent;
}
.theme-purple .nav .open > a {
	background: transparent;
}
.theme-purple .nav .open > a:hover {
	background: #8f78db;
}
.theme-purple .nav .open > a:focus {
	background: transparent;
}
.theme-purple .bars {
	color: #fff;
}
.theme-purple .sidebar .menu .list li.active.open > a {
	background: linear-gradient(45deg, #8f78db, #ab9ae5);
	color: #fff;
}
.theme-purple .sidebar .menu .list li a:hover {
	color: #8f78db;
}
.theme-purple .sidebar .menu .list li.active >:first-child i,
.theme-purple .sidebar .menu .list li.active >:first-child span {
	color: #fff;
}
.theme-purple .sidebar .menu .list .toggled {
	background: #353d44;
	color: #fff;
}
.theme-purple .sidebar .menu .list .ml-menu {
	background: transparent;
}
.theme-purple .nav-tabs>li>a:before,
.theme-purple .input-group .form-line:after,
.theme-purple .form-group .form-line:after {
	border-bottom: 2px solid #8f78db;
}
.theme-purple .notify .heartbit {
	border-color: #ab9ae5;
}
.theme-purple .notify .point {
	background-color: #ab9ae5;
}
.theme-purple .chat .chat-history .other-message {
	background: #8f78db;
	color: #fff;
}
.theme-purple .chat .chat-history .other-message:after {
	border-bottom-color: #8f78db;
}
.theme-purple .cd-horizontal-timeline .filling-line {
	background-color: #8f78db;
}
.theme-purple .cd-horizontal-timeline .events a.selected::after,
.theme-purple .no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #ab9ae5;
	border-color: #8f78db;
}
.theme-purple .cd-horizontal-timeline .events a.older-event::after,
.theme-purple .no-touch .cd-timeline-navigation a:hover {
	background-color: #8f78db;
	border-color: #8f78db;
}
.theme-purple .nav > li > a.active{border-bottom: 1px solid #8f78db !important;}
/*====== theme-blue ========*/

.theme-blue .wizard .steps .current a,
.theme-blue .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-blue .fc .fc-toolbar,
.theme-blue .blog-page .single-blog-post .img-holder .date-box,
.theme-blue .menu-app li ul li a:hover,
.theme-blue .card .header .header-dropdown ul li a:hover {
	background: linear-gradient(45deg, #67d1fe, #479ef5);
}
.theme-blue .navbar-brand {
	color: #fff;
}
.theme-blue .navbar-brand:hover {
	color: #fff;
}
.theme-blue .navbar-brand:active {
	color: #fff;
}
.theme-blue .navbar-brand:focus {
	color: #fff;
}
.theme-blue .nav > li > a {
	color: #fff;
}
.theme-blue .nav > li > a:hover {
	background: transparent;
}
.theme-blue .nav > li > a:focus {
	background: transparent;
}
.theme-blue .nav .open > a {
	background: transparent;
}
.theme-blue .nav .open > a:hover {
	background: #479ef5;
}
.theme-blue .nav .open > a:focus {
	background: transparent;
}
.theme-blue .bars {
	color: #fff;
}
.theme-blue .sidebar .menu .list li.active.open > a {
	background: linear-gradient(45deg, #67d1fe, #479ef5);
	color: #fff;
}
.theme-blue .sidebar .menu .list li a:hover {
	color: #67d1fe;
}
.theme-blue .sidebar .menu .list li.active >:first-child i,
.theme-blue .sidebar .menu .list li.active >:first-child span {
	color: #fff;
}
.theme-blue .sidebar .menu .list .toggled {
	background: #353d44;
	color: #fff;
}
.theme-blue .sidebar .menu .list .ml-menu {
	background: transparent;
}
.theme-blue .nav-tabs>li>a:before,
.theme-blue .input-group .form-line:after,
.theme-blue .form-group .form-line:after {
	border-bottom: 2px solid #479ef5;
}
.theme-blue .notify .heartbit {
	border-color: #67d1fe;
}
.theme-blue .notify .point {
	background-color: #67d1fe;
}
.theme-blue .chat .chat-history .other-message {
	background: #479ef5;
	color: #fff;
}
.theme-blue .chat .chat-history .other-message:after {
	border-bottom-color: #479ef5;
}
.theme-blue .cd-horizontal-timeline .filling-line {
	background-color: #479ef5;
}
.theme-blue .cd-horizontal-timeline .events a.selected::after,
.theme-blue .no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #67d1fe;
	border-color: #479ef5;
}
.theme-blue .cd-horizontal-timeline .events a.older-event::after,
.theme-blue .no-touch .cd-timeline-navigation a:hover {
	background-color: #479ef5;
	border-color: #479ef5;
}
.theme-blue .nav > li > a.active{border-bottom: 1px solid #479ef5 !important;}
/*====== theme-cyan ========*/

.theme-cyan .wizard .steps .current a,
.theme-cyan .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-cyan .fc .fc-toolbar,
.theme-cyan .blog-page .single-blog-post .img-holder .date-box,
.theme-cyan .menu-app li ul li a:hover,
.theme-cyan .card .header .header-dropdown ul li a:hover {
	background: linear-gradient(45deg, #49cdd0, #ab9ae5);
}
.theme-cyan .navbar-brand {
	color: #fff;
}
.theme-cyan .navbar-brand:hover {
	color: #fff;
}
.theme-cyan .navbar-brand:active {
	color: #fff;
}
.theme-cyan .navbar-brand:focus {
	color: #fff;
}
.theme-cyan .nav > li > a {
	color: #fff;
}
.theme-cyan .nav > li > a:hover {
	background: transparent;
}
.theme-cyan .nav > li > a:focus {
	background: transparent;
}
.theme-cyan .nav .open > a {
	background: transparent;
}
.theme-cyan .nav .open > a:hover {
	background: #49cdd0;
}
.theme-cyan .nav .open > a:focus {
	background: transparent;
}
.theme-cyan .bars {
	color: #fff;
}
.theme-cyan .sidebar .menu .list li.active.open > a {
	background: linear-gradient(45deg, #49cdd0, #ab9ae5);
	color: #fff;
}
.theme-cyan .sidebar .menu .list li a:hover {
	color: #45e5c3;
}
.theme-cyan .sidebar .menu .list li.active >:first-child i,
.theme-cyan .sidebar .menu .list li.active >:first-child span {
	color: #fff;
}
.theme-cyan .sidebar .menu .list .toggled {
	background: #353d44;
	color: #fff;
}
.theme-cyan .sidebar .menu .list .ml-menu {
	background: transparent;
}
.theme-cyan .nav-tabs>li>a:before,
.theme-cyan .input-group .form-line:after,
.theme-cyan .form-group .form-line:after {
	border-bottom: 2px solid #49cdd0;
}
.theme-cyan .notify .heartbit {
	border-color: #45e5c3;
}
.theme-cyan .notify .point {
	background-color: #45e5c3;
}
.theme-cyan .chat .chat-history .other-message {
	background: #49cdd0;
	color: #fff;
}
.theme-cyan .chat .chat-history .other-message:after {
	border-bottom-color: #49cdd0;
}
.theme-cyan .cd-horizontal-timeline .filling-line {
	background-color: #49cdd0;
}
.theme-cyan .cd-horizontal-timeline .events a.selected::after,
.theme-cyan .no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #45e5c3;
	border-color: #49cdd0;
}
.theme-cyan .cd-horizontal-timeline .events a.older-event::after,
.theme-cyan .no-touch .cd-timeline-navigation a:hover {
	background-color: #49cdd0;
	border-color: #49cdd0;
}
.theme-cyan .nav > li > a.active{border-bottom: 1px solid #49cdd0 !important;}
/*====== theme-green ========*/

.theme-green .wizard .steps .current a,
.theme-green .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-green .fc .fc-toolbar,
.theme-green .blog-page .single-blog-post .img-holder .date-box,
.theme-green .menu-app li ul li a:hover,
.theme-green .card .header .header-dropdown ul li a:hover {
	background: linear-gradient(45deg, #40b988, #5edb8c);
}
.theme-green .navbar-brand {
	color: #fff;
}
.theme-green .navbar-brand:hover {
	color: #fff;
}
.theme-green .navbar-brand:active {
	color: #fff;
}
.theme-green .navbar-brand:focus {
	color: #fff;
}
.theme-green .nav > li > a {
	color: #fff;
}
.theme-green .nav > li > a:hover {
	background: transparent;
}
.theme-green .nav > li > a:focus {
	background: transparent;
}
.theme-green .nav .open > a {
	background: transparent;
}
.theme-green .nav .open > a:hover {
	background: #40b988;
}
.theme-green .nav .open > a:focus {
	background: transparent;
}
.theme-green .bars {
	color: #fff;
}
.theme-green .sidebar .menu .list li.active.open > a {
	background: linear-gradient(45deg, #40b988, #5edb8c);
	color: #fff;
}
.theme-green .sidebar .menu .list li a:hover {
	color: #40b988;
}
.theme-green .sidebar .menu .list li.active >:first-child i,
.theme-green .sidebar .menu .list li.active >:first-child span {
	color: #fff;
}
.theme-green .sidebar .menu .list .toggled {
	background: #353d44;
	color: #fff;
}
.theme-green .sidebar .menu .list .ml-menu {
	background: transparent;
}
.theme-green .nav-tabs>li>a:before,
.theme-green .input-group .form-line:after,
.theme-green .form-group .form-line:after {
	border-bottom: 2px solid #40b988;
}
.theme-green .notify .heartbit {
	border-color: #5edb8c;
}
.theme-green .notify .point {
	background-color: #5edb8c;
}
.theme-green .chat .chat-history .other-message {
	background: #40b988;
	color: #fff;
}
.theme-green .chat .chat-history .other-message:after {
	border-bottom-color: #40b988;
}
.theme-green .cd-horizontal-timeline .filling-line {
	background-color: #40b988;
}
.theme-green .cd-horizontal-timeline .events a.selected::after,
.theme-green .no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #5edb8c;
	border-color: #40b988;
}
.theme-green .cd-horizontal-timeline .events a.older-event::after,
.theme-green .no-touch .cd-timeline-navigation a:hover {
	background-color: #40b988;
	border-color: #40b988;
}
.theme-green .nav > li > a.active{border-bottom: 1px solid #40b988 !important;}
/*====== theme-blush ========*/

.theme-blush .wizard .steps .current a,
.theme-blush .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-blush .fc .fc-toolbar,
.theme-blush .blog-page .single-blog-post .img-holder .date-box,
.theme-blush .menu-app li ul li a:hover,
.theme-blush .card .header .header-dropdown ul li a:hover {
	background: linear-gradient(45deg, #dd5e89, #f7bb97);
}
.theme-blush .navbar-brand {
	color: #fff;
}
.theme-blush .navbar-brand:hover {
	color: #fff;
}
.theme-blush .navbar-brand:active {
	color: #fff;
}
.theme-blush .navbar-brand:focus {
	color: #fff;
}
.theme-blush .nav > li > a {
	color: #fff;
}
.theme-blush .nav > li > a:hover {
	background: transparent;
}
.theme-blush .nav > li > a:focus {
	background: transparent;
}
.theme-blush .nav .open > a {
	background: transparent;
}
.theme-blush .nav .open > a:hover {
	background: #dd5e89;
}
.theme-blush .nav .open > a:focus {
	background: transparent;
}
.theme-blush .bars {
	color: #fff;
}
.theme-blush .sidebar .menu .list li.active.open > a {
	background: linear-gradient(45deg, #dd5e89, #f7bb97);
	color: #fff;
}
.theme-blush .sidebar .menu .list li a:hover {
	color: #dd5e89;
}
.theme-blush .sidebar .menu .list li.active >:first-child i,
.theme-blush .sidebar .menu .list li.active >:first-child span {
	color: #fff;
}
.theme-blush .sidebar .menu .list .toggled {
	background: #353d44;
	color: #fff;
}
.theme-blush .sidebar .menu .list .ml-menu {
	background: transparent;
}
.theme-blush .nav-tabs>li>a:before,
.theme-blush .input-group .form-line:after,
.theme-blush .form-group .form-line:after {
	border-bottom: 2px solid #dd5e89;
}
.theme-blush .notify .heartbit {
	border-color: #f7bb97;
}
.theme-blush .notify .point {
	background-color: #f7bb97;
}
.theme-blush .chat .chat-history .other-message {
	background: #dd5e89;
	color: #fff;
}
.theme-blush .chat .chat-history .other-message:after {
	border-bottom-color: #dd5e89;
}
.theme-blush .cd-horizontal-timeline .filling-line {
	background-color: #dd5e89;
}
.theme-blush .cd-horizontal-timeline .events a.selected::after,
.theme-blush .no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #f7bb97;
	border-color: #dd5e89;
}
.theme-blush .cd-horizontal-timeline .events a.older-event::after,
.theme-blush .no-touch .cd-timeline-navigation a:hover {
	background-color: #dd5e89;
	border-color: #dd5e89;
}
.theme-blush .nav > li > a.active{border-bottom: 1px solid #dd5e89 !important;}
/*====== Theme light ========*/

.light,
.light .sidebar .menu,
.light.ls-closed .sidebar {
	background: #f0f3f5;
}
.light .sidebar .menu .user-info {
	color: #30373e;
}
.light .sidebar .menu .list .header {
	color: #999;
	border-bottom: 1px solid #e8e8e8;
}
.light .card {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.light .navbar-brand {
	color: #30373e;
}
.light .navbar-brand:hover {
	color: #30373e;
}
.light .navbar-brand:active {
	color: #30373e;
}
.light .navbar-brand:focus {
	color: #30373e;
}
.light .nav > li > a {
	color: #30373e;
}
.light .nav li a i {
	font-weight: 600;
}
.light .nav > li > a:hover {
	background: transparent;
}
.light .nav > li > a:focus {
	background: transparent;
}
.light .nav .open > a {
	background: transparent;
}
.light .nav .open > a:focus {
	background: transparent;
}
.light .bars {
	color: #30373e;
}
.light .sidebar .menu .list .ml-menu li a,
.light .sidebar .menu .list a {
	color: #444;
}
.light .sidebar .menu .list li a:hover {
	color: #30373e;
}
.light .sidebar .menu .list li.active >:first-child i,
.light .sidebar .menu .list li.active >:first-child span {
	color: #fff;
}
.light .sidebar .menu .list .toggled {
	background: #e9eaea;
	color: #30373e;
}
.light section.content {
	padding: 0;
	margin: 0 15px 15px 265px;
}
.light.ls-closed section.content {
	margin: 55px 0px 15px 0px;
}
.light.rtl section.content {
	margin: 55px 265px 15px 15px;
}
.light .block-header {
	margin: 0;
}
.theme-light-dark li {
	display: inline-block;
}
.theme-light-dark li:hover {
	cursor: pointer;
}
.theme-light-dark .t-dark,
.theme-light-dark .t-light {
	padding: 5px 15px;
	display: inline-block;
	border-radius: 3px;
}
.theme-light-dark .t-dark {
	background: #30373e;
	border: 1px solid #30373e;
	color: #fff;
}
.theme-light-dark .t-light {
	background: #fff;
	border: 1px solid #30373e;
}
.light .email-page,
.light .profile-page {
	margin-top: 55px !important;
}



@media only screen and (max-width: 992px) {
	.light.rtl section.content {
		margin: 55px 0px 15px 0px;
	}
}
@media only screen and (max-width: 500px) {
	.light section.content {
		margin-left: 0px !important;
	}
}